<?xml version="1.0" encoding="utf-8"?>
<configuration>
<connectionStrings><add name="PersonNameLocationEntities" connectionString="metadata=res://*/PersonNameLocationModel.csdl|res://*/PersonNameLocationModel.ssdl|res://*/PersonNameLocationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MARC-PC\SQLEXPRESS;Initial Catalog=eftest;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>